.usersPart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10%;
}

.userPart {
  width: 20%;
  margin-right: 1%;
  display: flex;
  flex-direction: row;

  justify-content: center;
  .userPart_img {
    img {
      width: 48px;
      height: 48px;
    }
  }
  .userPart__details {
    padding: 7px;
    margin-bottom: 20px;
    h2 {
      color: #0074cc;
      font-size: 15px;
      margin-bottom: 5px;
    }
    h3 {
      font-size: 12px;
      color: #6a737c;
      margin-bottom: 5px;
    }
    h4 {
      font-size: 12px;
      color: #6a737c;
      font-weight: bold;
    }
    ul {
      li {
        display: inline;
        font-size: 12px;
        color: #0074cc;
        margin-bottom: 5px;
      }
    }
  }
}
